<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acelera Vendedores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../utils/css/acelera-vendedores.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Ícone de hambúrguer -->
        <span class="navbar-toggler-icon" onclick="toggleSidebar()"></span>

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="../../img/logo/logo.png" alt="Logo" style="width: 40px; height: auto;">
        </a>

        <!-- Conteúdo da Navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Catálogos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Treinamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/templates/categorias/vendedor.html">Vendedores</a></li>
                        <li><a class="dropdown-item" href="/templates/categorias/pre-vendedor.html">Pré-Vendedores</a></li>
                        <li><a class="dropdown-item" href="/">Orçamentista</a></li>
                        <li><a class="dropdown-item" href="/">Expedição</a></li>
                        <li><a class="dropdown-item" href="/">Usinagem</a></li>
                        <li><a class="dropdown-item" href="/">Todos os cursos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Jogos</a>
                </li>
            </ul>

            <!-- Formulário de busca (opcional) -->
            <!-- <form class="pesquisa form-inline my-2 my-lg-0 ms-auto">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form> -->

        </div>
    </nav>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <span class="close-btn" onclick="toggleSidebar()">&times;</span>
        <div class="sidebar-header">
            <img src="../../img/logo/logo-branca.png" alt="User Avatar">
            <!-- FOTO E NICK -->
            <!-- <div class="username">@Pivetencer</div>
            <div class="user-level">Iniciante</div>
            <div class="progress-container">
                <div class="progress" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 43%;" aria-valuenow="43"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>2163 / 5000</small>
            </div> -->
            <!-- FOTO E NICK -->
        </div>
        <!-- MOEDAS AQUI -->
        <!-- <div class="sidebar-balance">
            <i class="fas fa-shopping-cart"></i> 2163 Beetcoins
        </div> -->
        <!-- MOEDAS AQUI -->
        <div class="sidebar-menu">
            <a href="/"><i class="fa-solid fa-house"></i>Home</a>
            <a class="dropdown-toggle" onclick="toggleDropdown('CursosDropdown')">
                <i class="fas fa-book"></i> Cursos
            </a>
            <div id="CursosDropdown" class="submenu">
                <a href="/templates/categorias/vendedor.html">Vendedores</a>
                <a href="/templates/categorias/pre-vendedor.html">Pré-Vendedores</a>
                <a href="/">Orçamentistas</a>
                <a href="/">Expedição</a>
                <a href="/">Usinagem</a>
                <a href="/">Todos os Cursos</a>
            </div>
            <a href="/"><i class="fas fa-file-alt"></i>Wiki</a>
            <a href="/"><i class="fa-solid fa-play"></i> Vídeos</a>
            <a href="/"><i class="fa-solid fa-image"></i></i> Imagens</a>
            <a href="/"><i class="fas fa-link"></i> Links</a>
            <a href="/"><i class="fa-solid fa-gamepad"></i> Jogos</a>
        </div>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-image">
        <div class="col-md-6 container-titulo">
            <h1 class="display-4 font-italic"><strong>Acelera Vendedores</strong></h1>
            <p class="lead my-3 text-justify">O Acelerador de Vendedores é uma experiência exclusiva e intensiva,
                Criada especialmente para vendedores que buscam se desenvolver e se destacar no mercado. Durante o
                treinamento, os colaboradores têm a oportunidade de aprimorar suas habilidades e conhecimentos em
                vendas, e aprender estratégias e técnicas que já ajudaram centenas de vendedores a aumentar suas vendas
                e comissões.</p>
        </div>
    </div>

    <main role="main" class="container mt-4 text-justify">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">Acelera Vendedores</h2>
                    <p class="blog-post-meta">01 Janeiro de 2024</p>

                    <p>Acelerador de Vendedores é indicado para você vendedor que quer...</p>

                    <hr>

                    <ul>
                        <li>Aprender a argumentar quando o cliente diz que o preço está caro e ainda assim fechar a
                            venda;</li>
                        <li>Aprender estratégias de alta performance para aumentar a produtividade e alcançar a meta;
                        </li>
                        <li>Aumentar significativamente o número de indicações dos clientes;</li>
                        <li>Gerenciar melhor o tempo e fazer um bom acompanhamento da carteira de clientes;</li>
                        <li>Evitar que os clientes desistam da compra na etapa final do processo.</li>
                    </ul>

                    <hr>

                    <h3>Conexão, Negociação & Fechamento</h3>
                    <p>Os três pilares da venda.</p>

                    <h5>Conexão</h5>

                    <ul>
                        <li>Dedique tempo para conhecer seu cliente e entender suas necessidades;</li>
                        <li>Use uma linguagem clara e direta, evitando jargões técnicos ou termos complicados;</li>
                        <li>Demonstre empatia e interesse genuíno pelo cliente, criando um vínculo emocional; </li>
                        <li>Faça perguntas abertas e ouça atentamente as respostas, mostrando interesse e engajamento;
                        </li>
                        <li>Esteja presente no momento da venda, evitando distrações ou extensões que podem alterar a
                            conexão com o cliente.</li>
                    </ul>

                    <h5>Negociação</h5>

                    <ul>
                        <li>Prepare-se antecipadamente, conhecendo os detalhes do produto ou serviço que está vendendo;
                        </li>
                        <li>Use argumentos convincentes e baseados em fatos, mostrando ao cliente como seu produto ou
                            serviço pode ajudá-lo;</li>
                        <li>Identifique as objeções do cliente e esteja preparado para contorná-las de forma persuasiva
                            e ética;</li>
                        <li>Mostre que está disposto a negociar, oferecendo opções flexíveis e adaptadas às necessidades
                            do cliente;</li>
                        <li>Seja confiante e assertivo, mas também flexível e adaptável às mudanças que podem surgir
                            durante a negociação.</li>
                    </ul>

                    <h5>Fechamento</h5>

                    <ul>
                        <li>Identifique o momento certo para fechar a venda, observando as pistas e sinais que o cliente
                            dá;</li>
                        <li>Use técnicas de fechamento de venda, como a criação de senso de urgência ou a oferta de
                            bônus ou descontos especiais;</li>
                        <li>Ofereça opções de pagamento que sejam adaptadas às necessidades do cliente, como
                            parcelamentos ou diferentes formas de pagamento;</li>
                        <li>Esteja preparado para responder a dúvidas ou perguntas que o cliente possa ter antes de
                            finalizar a venda.</li>
                    </ul>

                    <hr>

                    <h3>Conclusão</h3>
                    <p>Com estratégias comprovadas, suporte contínuo e orientações personalizadas, o Acelerador de
                        Vendedores oferece todas as ferramentas necessárias para potencializar suas vendas e impulsionar
                        seu crescimento profissional. Este programa foi desenvolvido para que você alcance resultados
                        consistentes, supere desafios diários e se destaque em um mercado cada vez mais competitivo. Ao
                        participar, você terá acesso a insights valiosos, práticas eficazes e uma comunidade de apoio,
                        tornando-se mais confiante, eficiente e preparado para atingir e até superar suas metas.
                        Aproveite esta oportunidade para transformar seu desempenho e alcançar o sucesso profissional
                        que você merece.</p>
                </div>

                <nav class="blog-pagination">
                    <a href="../../Docs/Acelerador Vendedores - Piveta Ferramentas.pdf"
                        download="Acelerador_Vendedores.pdf" target="_blank" rel="noopener noreferrer"
                        class="btn btn-primary liveToastBtn download-btn">
                        Download
                    </a>
                    <a class="btn btn-outline-secondary disabled" href="#">Avaliação</a>
                </nav>

            </div>

            <aside class="col-md-4 blog-sidebar">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 img-card">
                    <img class="card-img w-100" src="../../img/informativos/acelerador.png" alt="Card image">
                </div>
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Sobre</h4>
                    <p class="mb-0">O Acelera Vendedores é um programa que capacita nossos
                        vendedores e acelera os nossos processos.</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Referências</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://youtu.be/TwCucK_mpFs" target="_blank">Efeito Ancoragem</a></li>
                        <li><a href="https://youtu.be/BhEF1PvH-X0" target="_blank">Escassez</a></li>
                        <li><a href="https://youtu.be/hD4m8uvpBtg" target="_blank">O Poder das Histórias</a></li>
                        <li><a href="https://youtu.be/5YwXuWXBYz8" target="_blank">Reciprocidade</a></li>
                        <li><a href="https://youtu.be/MCIps7h2jSI" target="_blank">Steve Jobs</a></li>
                    </ol>
                </div>
            </aside>
        </div>
    </main>

    <div class="container mt-5 container-certificado">
        <div class="jumbotron p-3 p-md-5 text-white rounded container-certificado-color">
            <div class="col-md-8 px-0 ">
                <h1 class="display-4 font-italic"><strong>Obtenha um certificado profissional</strong></h1>
                <p class="lead my-3 text-justify">Adicione esta credencial ao seu perfil ou currículo no LinkedIn <br>
                    Compartilhe nas redes sociais e na sua avaliação de desempenho</p>
            </div>
            <img src="../../img/certificados/certificado-verde.png" class="certificado-image" alt="Right aligned image">
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text">Perguntas Frequentes</h2>
        <div class="accordion mt-2" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        O que é o Acelera Vendedores?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        É um treinamento criado especialmente para vendedores que buscam se desenvolver e se destacar no
                        mercado, um treinamento para você vendedor aprimorar suas habilidades de persuasão e impulsionar
                        sua carreira profissional como um especialista altamente convincente.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sobre o que um vendedor precisa estudar?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Um vendedor precisa estudar sobre o Mercado que está inserido, sobre os Produtos que a empresa
                        vende, sobre a Empresa para poder argumentar sobre reputação e autoridade, sobre Vendas e
                        principalmente sobre o Ser Humano, afinal vendas é sempre de pessoa para pessoa.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        O que é a Técnica de Empilhamento?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Essa técnica consiste em empilhar todos os ganhos que os clientes terão ao comprar nosso
                        produto, ao comprar conosco.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        O que é a Técnica do CAVABEN?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Todo produto possui três atributos essenciais: características, vantagens e benefícios. As
                        características são as qualidades tangíveis e observáveis do produto, como suas especificações e
                        funcionalidades. As vantagens destacam os diferenciais positivos que tornam o produto superior
                        ou único em relação a outros semelhantes no mercado. Já os benefícios representam o impacto
                        positivo e direto para o usuário ou cliente final, traduzindo-se nos ganhos práticos e no valor
                        agregado que o produto proporciona. Esses três atributos, quando bem articulados, ajudam a
                        comunicar o valor do produto de forma clara e eficaz, focando não apenas no que ele é, mas no
                        que ele faz pelo cliente.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="blog-footer text-center mt-4">
        <p class="text-center text-muted">&copy; 2024 <a href="https://www.pivetaferramentas.com.br/"
                target="_blank">Piveta Ferramentas</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>

<script src="../../index.js"></script>

</html>