<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afiadora Universal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../utils/css/afiadora.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Ícone de hambúrguer -->
        <span class="navbar-toggler-icon" onclick="toggleSidebar()"></span>

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="../../img/logo/logo.png" alt="Logo" style="width: 40px; height: auto;">
        </a>

        <!-- Conteúdo da Navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Catálogos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Treinamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/templates/categorias/vendedor.html">Vendedores</a></li>
                        <li><a class="dropdown-item" href="/templates/categorias/pre-vendedor.html">Pré-Vendedores</a></li>
                        <li><a class="dropdown-item" href="/">Orçamentista</a></li>
                        <li><a class="dropdown-item" href="/">Expedição</a></li>
                        <li><a class="dropdown-item" href="/">Usinagem</a></li>
                        <li><a class="dropdown-item" href="/">Todos os cursos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Jogos</a>
                </li>
            </ul>

            <!-- Formulário de busca (opcional) -->
            <!-- <form class="pesquisa form-inline my-2 my-lg-0 ms-auto">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form> -->

        </div>
    </nav>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <span class="close-btn" onclick="toggleSidebar()">&times;</span>
        <div class="sidebar-header">
            <img src="../../img/logo/logo-branca.png" alt="User Avatar">
            <!-- FOTO E NICK -->
            <!-- <div class="username">@Pivetencer</div>
            <div class="user-level">Iniciante</div>
            <div class="progress-container">
                <div class="progress" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 43%;" aria-valuenow="43"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>2163 / 5000</small>
            </div> -->
            <!-- FOTO E NICK -->
        </div>
        <!-- MOEDAS AQUI -->
        <!-- <div class="sidebar-balance">
            <i class="fas fa-shopping-cart"></i> 2163 Beetcoins
        </div> -->
        <!-- MOEDAS AQUI -->
        <div class="sidebar-menu">
            <a href="/"><i class="fa-solid fa-house"></i>Home</a>
            <a class="dropdown-toggle" onclick="toggleDropdown('CursosDropdown')">
                <i class="fas fa-book"></i> Cursos
            </a>
            <div id="CursosDropdown" class="submenu">
                <a href="/templates/categorias/vendedor.html">Vendedores</a>
                <a href="/templates/categorias/pre-vendedor.html">Pré-Vendedores</a>
                <a href="/">Orçamentistas</a>
                <a href="/">Expedição</a>
                <a href="/">Usinagem</a>
                <a href="/">Todos os Cursos</a>
            </div>
            <a href="/"><i class="fas fa-file-alt"></i>Wiki</a>
            <a href="/"><i class="fa-solid fa-play"></i> Vídeos</a>
            <a href="/"><i class="fa-solid fa-image"></i></i> Imagens</a>
            <a href="/"><i class="fas fa-link"></i> Links</a>
            <a href="/"><i class="fa-solid fa-gamepad"></i> Jogos</a>
        </div>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-image">
        <div class="col-md-6 container-titulo">
            <h1 class="display-4 font-italic"><strong>Afiadora Universal</strong></h1>
            <p class="lead my-3 text-justify">A Afiadora Universal é uma máquina para afiar ferramentas com precisão e
                agilidade. Diferente das afiadoras mais comuns, a Afiadora Universal garante um melhor leque de
                oportunidades, sendo possível devolver o fio de corte em ferramentas mais simples como uma broca, à
                acessórios mais complexos como os machos, fresas e outras ferramentas do campo industrial. </p>
        </div>
    </div>

    <main role="main" class="container mt-4 text-justify">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">Afiadora Universal</h2>
                    <p class="blog-post-meta">01 Janeiro de 2024</p>

                    <p>Afiadora Universal é...</p>

                    <hr>

                    <p>
                        A afiadora universal é uma máquina versátil utilizada principalmente em oficinas e indústrias
                        para afiar e recondicionar ferramentas de corte, como fresas, brocas e alargadores. Ela permite
                        a afiação precisa de diferentes ângulos e perfis, sendo essencial para manter a qualidade e a
                        vida útil das ferramentas.

                        A afiadora universal oferece grande flexibilidade, podendo ser ajustada para diversas operações
                        de afiação, o que a torna indispensável para quem busca precisão e eficiência na manutenção de
                        ferramentas de corte em processos de usinagem.
                    </p>

                    <hr>

                    <h3>Diferencias da nossa Afiadora Universal</h3>
                    <p>Os três pilares da venda.</p>

                    <h5>Preço</h5>

                    <p>Em comparação com o mercado, nós estamos cerca de 17,19% (1.651,52) abaixo da média dos nossos
                        concorrentes.</p>

                    <h5>Componentes</h5>

                    <p>Nosso modelo de afiadora, possui acessórios que outros não possui, como por exemplo: Rebolo
                        Diamantado, Correia, Caixa de Madeira, dispositivos para afiação lateral.</p>

                    <h5>Marca</h5>

                    <p>Cpentes podem preferir pagar mais por uma marca confiável. Nós trabalhamos com uma marca que
                        possui uma trajetória de 16 anos no mercado e tem muita referência, ao contrário de outras que
                        nem existem no Google.</p>

                    <img src="../../img/complementar/afiadora1.png" class="img-fluid" alt="Responsive image">

                </div>

                <nav class="blog-pagination">
                    <a href="../../Docs/Afiadora Universal.pdf" download="Afiadora_Universal.pdf" target="_blank"
                        rel="noopener noreferrer" type="button"
                        class="btn btn-primary liveToastBtn download-btn">Download</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Avaliação</a>
                </nav>

            </div>

            <aside class="col-md-4 blog-sidebar">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 img-card">
                    <img class="card-img w-100" src="../../img/informativos/afiadora.png" alt="Card image">
                </div>
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Sobre</h4>
                    <p class="mb-0">Afiadora universal, com versatilidade e precisão para manter suas ferramentas afiadas e produtivas.</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Referências</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://www.pivetaferramentas.com.br/bt-fixo/afiadora-universal-de-ferramentas-220v-rebolo-diamantado" target="_blank">Afiadora Universal na Piveta</a></li>
                    </ol>
                </div>
            </aside>
        </div>
    </main>

    <div class="container mt-5 container-certificado">
        <div class="jumbotron p-3 p-md-5 text-white rounded container-certificado-color">
            <div class="col-md-8 px-0 ">
                <h1 class="display-4 font-italic"><strong>Obtenha um certificado profissional</strong></h1>
                <p class="lead my-3 text-justify">Adicione esta credencial ao seu perfil ou currículo no LinkedIn <br>
                    Compartilhe nas redes sociais e na sua avaliação de desempenho</p>
            </div>
            <img src="../../img/certificados/certificado-azul.png" class="certificado-image" alt="Right aligned image">
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text">Perguntas Frequentes</h2>
        <div class="accordion mt-2" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Qual a diferença de uma Afiadora Universal para uma Afiadora de Brocas?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A principal diferença entre os dois modelos está na versatilidade de afiação, enquanto uma Afiadora Universal afia diversos tipos de ferramentas, a Afiadora de Brocas tem capacidade para afiar somente as brocas.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Quais são as Ferramentas que a Afiadora Universal afia? 
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Brocas, Fresas de Topo Reto, Fresas de Topo Esférico, Ferramentas Soldadas, Machos Manuais, Machos Máquinas, Insertos de Pastilhas, Bits Quadrados e Bedames.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Quais são as áreas de Aplicação da Afiadora universal? 
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        As afiadoras universais podem ser oferecidas para diversas áreas, incluindo manutenção, mineração, fabricação de moldes e matrizes, indústria automotiva, construção civil e setor metalúrgico.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Quais são os rebolos utilizados na Afiadora Universal? 
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        O equipamento permite o uso de três tipos de rebolos, cada um indicado para materiais específicos. O rebolo copo diamantado é ideal para materiais de extrema dureza, como carbonetos (metal duro), cerâmicas, ligas de cobalto, PCD, PCBN e outros materiais altamente resistentes. O rebolo diamantado cônico, já incluso no equipamento, atende aos mesmos materiais que o rebolo copo diamantado, oferecendo versatilidade e precisão para o trabalho com materiais duros. Já o rebolo abrasivo branco é recomendado para aços de alta dureza, como aço temperado, aços rápidos e metais em geral.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        A Afiadora Universal possui peças de reposição? 
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        No momento temos somente pinças de 1 a 16mm para reposição.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Quais são as Vantagens da Afiadora Universal? 
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A afiadora universal oferece diversas vantagens, entre elas, destacam-se sua versatilidade, durabilidade e precisão. Fabricada em ferro fundido, a máquina é extremamente robusta, garantindo ajustes precisos e compatibilidade com uma ampla variedade de materiais. Ela proporciona um aumento significativo na vida útil das ferramentas e permite realizar diferentes tipos de afiação, como circular, em ângulo, semi-circular positivo e cônico, tornando-se uma solução completa para as necessidades de afiação.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Quais são os Benefícios da Afiadora Universal?  
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A afiadora universal oferece uma série de benefícios significativos para as empresas. Ela proporciona autossuficiência, permitindo que o cliente não precise recorrer a terceiros para realizar afiações, o que resulta em uma redução de custos operacionais. Ela também economiza tempo ao otimizar o processo, além de reduzir o esforço físico, tornando a operação mais fácil e eficiente. Com a afiadora, a qualidade dos produtos finais melhora, pois garante maior precisão e durabilidade. Além disso, ela diminui o desgaste das máquinas, prolongando sua vida útil e aumentando a produtividade.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="blog-footer text-center mt-4">
        <p class="text-center text-muted">&copy; 2024 <a href="https://www.pivetaferramentas.com.br/"
                target="_blank">Piveta Ferramentas</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>

<script src="../../index.js"></script>

</html>