<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Digimess</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../utils/css/digimess.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Ícone de hambúrguer -->
        <span class="navbar-toggler-icon" onclick="toggleSidebar()"></span>

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="../../img/logo/logo.png" alt="Logo" style="width: 40px; height: auto;">
        </a>

        <!-- Conteúdo da Navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Catálogos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Treinamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/">Vendedores</a></li>
                        <li><a class="dropdown-item" href="/">Pré-Vendedores</a></li>
                        <li><a class="dropdown-item" href="/">Orçamentista</a></li>
                        <li><a class="dropdown-item" href="/">Expedição</a></li>
                        <li><a class="dropdown-item" href="/">Usinagem</a></li>
                        <li><a class="dropdown-item" href="/">Todos os cursos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Jogos</a>
                </li>
            </ul>

            <!-- Formulário de busca (opcional) -->
            <!-- <form class="pesquisa form-inline my-2 my-lg-0 ms-auto">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form> -->

        </div>
    </nav>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <span class="close-btn" onclick="toggleSidebar()">&times;</span>
        <div class="sidebar-header">
            <img src="../../img/logo/logo-branca.png" alt="User Avatar">
            <!-- FOTO E NICK -->
            <!-- <div class="username">@Pivetencer</div>
            <div class="user-level">Iniciante</div>
            <div class="progress-container">
                <div class="progress" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 43%;" aria-valuenow="43"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>2163 / 5000</small>
            </div> -->
            <!-- FOTO E NICK -->
        </div>
        <!-- MOEDAS AQUI -->
        <!-- <div class="sidebar-balance">
            <i class="fas fa-shopping-cart"></i> 2163 Beetcoins
        </div> -->
        <!-- MOEDAS AQUI -->
        <div class="sidebar-menu">
            <a href="/"><i class="fa-solid fa-house"></i>Home</a>
            <a class="dropdown-toggle" onclick="toggleDropdown('CursosDropdown')">
                <i class="fas fa-book"></i> Cursos
            </a>
            <div id="CursosDropdown" class="submenu">
                <a href="/">Vendedores</a>
                <a href="/">Pré-Vendedores</a>
                <a href="/">Orçamentistas</a>
                <a href="/">Expedição</a>
                <a href="/">Usinagem</a>
                <a href="/">Todos os Cursos</a>
            </div>
            <a href="/"><i class="fas fa-file-alt"></i>Wiki</a>
            <a href="/"><i class="fa-solid fa-play"></i> Vídeos</a>
            <a href="/"><i class="fa-solid fa-image"></i></i> Imagens</a>
            <a href="/"><i class="fas fa-link"></i> Links</a>
            <a href="/"><i class="fa-solid fa-gamepad"></i> Jogos</a>
        </div>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-image">
        <div class="col-md-6 container-titulo">
            <h1 class="display-4 font-italic"><strong>Produtos Digimess</strong></h1>
            <p class="lead my-3 text-justify">A Digimess é uma marca de confiança em instrumentos de medição, conhecida
                por sua precisão e durabilidade. Oferece produtos como paquímetros e micrômetros, ideais para
                profissionais de indústrias mecânicas e laboratoriais.</p>
        </div>
    </div>

    <main role="main" class="container mt-4 text-justify">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">Produtos Digimess</h2>
                    <p class="blog-post-meta">01 Janeiro de 2024</p>

                    <hr>

                    <p>
                        Fundada em 1995, a Digimess é referência nacional em instrumentos de medição de alta precisão,
                        com forte presença no setor de metrologia. Ao longo dos anos, conquistou uma posição sólida e
                        confiável no mercado brasileiro, graças à sua ampla linha de produtos, qualidade indiscutível e
                        um dos maiores estoques do país. Hoje, a Digimess está presente em todo o território nacional,
                        atendendo às mais diversas necessidades de medição com uma extensa rede de distribuidores.
                    </p>

                    <hr>

                    <h3>Qual o impacto da Digimess?</h3>

                    <p>
                        A Digimess Instrumentos de Precisão Ltda é uma empresa brasileira que atua com excelência e
                        inovação no setor de metrologia. Desde sua aquisição por novos proprietários em 2002, a Digimess
                        se destacou pelo crescimento acelerado e contínuo investimento em qualidade e atendimento. A
                        empresa dispõe de um dos maiores estoques de instrumentos de precisão do Brasil, contando com um
                        moderno laboratório de calibração e uma equipe especializada em assistência técnica.
                        <br>
                        Ao longo de sua trajetória, a Digimess expandiu significativamente sua linha de produtos e
                        aperfeiçoou seus processos para oferecer soluções confiáveis e de alta performance a preços
                        competitivos. Em 2005, a marca passou por uma reformulação em sua identidade visual,
                        consolidando-se como uma das preferidas no mercado e recebendo prêmios como o Top-Five na
                        categoria de Instrumentos de Medição. Sempre focada em inovação, a empresa investe em mídias
                        digitais e na produção de conteúdos informativos para educar e apoiar seus consumidores.
                        Com distribuidores em todas as regiões do país, a Digimess se orgulha em oferecer demonstrações
                        de produtos e garantir que suas soluções estejam ao alcance de cada cliente.
                    </p>


                </div>

                <nav class="blog-pagination">
                    <a href="../../Docs/Produtos Digimess.pdf" download="Produtos_Digimess.pdf" target="_blank" rel="noopener noreferrer" type="button" class="btn btn-primary liveToastBtn download-btn">Download</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Avaliação</a>
                </nav>

            </div>

            <aside class="col-md-4 blog-sidebar">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 img-card">
                    <img class="card-img w-100" src="../../img/informativos/digimess.png" alt="Card image">
                </div>
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Sobre</h4>
                    <p class="mb-0">Digimess, precisão e qualidade em instrumentos de medição para quem busca resultados
                        confiáveis.</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Referências</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://www.digimess.com.br/" target="_blank">Digimess</a></li>
                        <li><a href="https://www.pivetaferramentas.com.br/digimess-" target="_blank">Digimess na
                                Piveta</a></li>
                    </ol>
                </div>
            </aside>
        </div>
    </main>

    <div class="container mt-5 container-certificado">
        <div class="jumbotron p-3 p-md-5 text-white rounded container-certificado-color">
            <div class="col-md-8 px-0 ">
                <h1 class="display-4 font-italic"><strong>Obtenha um certificado profissional</strong></h1>
                <p class="lead my-3 text-justify">Adicione esta credencial ao seu perfil ou currículo no LinkedIn <br>
                    Compartilhe nas redes sociais e na sua avaliação de desempenho</p>
            </div>
            <img src="../../img/certificados/certificado-laranja.png" class="certificado-image"
                alt="Right aligned image">
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text">Perguntas Frequentes</h2>
        <div class="accordion mt-2" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Qual a garantia dos produtos Digimess?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Toda a linha da Digimess possui 1 ano de garantia contra defeitos de fabricação (exceto desgaste
                        natural ou mau uso). Para ter direito a garantia, é necessário comprovar a data de compra do
                        produto através de cópia da nota fiscal.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Qual a relação das linhas KingTools e ChampionTools com a Digimess?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A KingTools é uma linha alternativa da Digimess com os principais itens de medição por um preço
                        mais baixo. A KingTools também possui ferramentas de corte (machos e cossinetes), placas de
                        torno e linha de metal duro fabricado nos Estados Unidos (fresas, brocas e limas rotativas). A
                        ChampionTools é uma linha de placas de torno com preço mais baixo em relação a KingTools.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        O que é e qual a diferença entre a calibração RBC e rastreável?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Primeiramente você pode tentar efetuar a troca da bateria do equipamento. A grande maioria dos
                        problemas de funcionamento em instrumentos de medição digitais está no desgaste da bateria ou no
                        acumulo de sujeira ou oleosidade em suas escalas. Tente sempre trocar a bateria e fazer a
                        limpeza do equipamento. Sempre utilize uma bateria lacrada na embalagem. Não utiliza baterias já
                        abertas. Caso os problemas persistam, entre em contato com nossa assistência técnica para
                        informações de como enviar o instrumento para conserto.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Os instrumentos da Digimess são precisos?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Todos os produtos da Digimess são fabricados de acordo com exatidão e tolerâncias de normas
                        internacionais. Todos os itens passam também por revisão antes de estarem disponíveis para
                        venda.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        A Digimess fornece peças de reposição?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Mantemos um grande estoque das principais peças de reposição de cada instrumento. Esse é
                        inclusive
                        um dos grandes diferenciais da Digimess no mercado. Se precisar de alguma peça de reposição,
                        entre
                        em contato com a Digimess ou com seu distribuidor para a compra. Temos arquivos com fotos em
                        visão
                        explodida de todos os equipamentos para facilitar a identificação correta da peça.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Preciso realizar a calibração de meu instrumento de precisão?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A calibração deverá ser realizada obrigatoriamente se sua empresa tiver certificação, como a ISO
                        9000 por exemplo, ou até mesmo se você quiser manter um maior controle sobre seus instrumentos
                        de medição, visando melhor qualidade de sua produção. Vale lembrar que a calibração é a emissão
                        de um certificado apenas atestando os desvios que o instrumento apresenta naquele momento. A
                        calibração não corrige os desvios, não conserta o instrumento. Para isto deve ser realizada a
                        manutenção.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="blog-footer text-center mt-4">
        <p class="text-center text-muted">&copy; 2024 <a href="https://www.pivetaferramentas.com.br/"
                target="_blank">Piveta Ferramentas</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>

<script src="../../index.js"></script>

</html>