<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conceitos de Usinagem</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../utils/css/usinagem.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Ícone de hambúrguer -->
        <span class="navbar-toggler-icon" onclick="toggleSidebar()"></span>

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="../../img/logo/logo.png" alt="Logo" style="width: 40px; height: auto;">
        </a>

        <!-- Conteúdo da Navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Catálogos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Treinamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/">Vendedores</a></li>
                        <li><a class="dropdown-item" href="/">Pré-Vendedores</a></li>
                        <li><a class="dropdown-item" href="/">Orçamentista</a></li>
                        <li><a class="dropdown-item" href="/">Expedição</a></li>
                        <li><a class="dropdown-item" href="/">Usinagem</a></li>
                        <li><a class="dropdown-item" href="/">Todos os cursos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Jogos</a>
                </li>
            </ul>

            <!-- Formulário de busca (opcional) -->
            <!-- <form class="pesquisa form-inline my-2 my-lg-0 ms-auto">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form> -->

        </div>
    </nav>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <span class="close-btn" onclick="toggleSidebar()">&times;</span>
        <div class="sidebar-header">
            <img src="../../img/logo/logo-branca.png" alt="User Avatar">
            <!-- FOTO E NICK -->
            <!-- <div class="username">@Pivetencer</div>
            <div class="user-level">Iniciante</div>
            <div class="progress-container">
                <div class="progress" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 43%;" aria-valuenow="43"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>2163 / 5000</small>
            </div> -->
            <!-- FOTO E NICK -->
        </div>
        <!-- MOEDAS AQUI -->
        <!-- <div class="sidebar-balance">
            <i class="fas fa-shopping-cart"></i> 2163 Beetcoins
        </div> -->
        <!-- MOEDAS AQUI -->
        <div class="sidebar-menu">
            <a href="/"><i class="fa-solid fa-house"></i>Home</a>
            <a class="dropdown-toggle" onclick="toggleDropdown('CursosDropdown')">
                <i class="fas fa-book"></i> Cursos
            </a>
            <div id="CursosDropdown" class="submenu">
                <a href="/">Vendedores</a>
                <a href="/">Pré-Vendedores</a>
                <a href="/">Orçamentistas</a>
                <a href="/">Expedição</a>
                <a href="/">Usinagem</a>
                <a href="/">Todos os Cursos</a>
            </div>
            <a href="/"><i class="fas fa-file-alt"></i>Wiki</a>
            <a href="/"><i class="fa-solid fa-play"></i> Vídeos</a>
            <a href="/"><i class="fa-solid fa-image"></i></i> Imagens</a>
            <a href="/"><i class="fas fa-link"></i> Links</a>
            <a href="/"><i class="fa-solid fa-gamepad"></i> Jogos</a>
        </div>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-image">
        <div class="col-md-6 container-titulo">
            <h1 class="display-4 font-italic"><strong>Conceitos de Usinagem</strong></h1>
            <p class="lead my-3 text-justify">Usinagem é o processo de remoção de material de uma peça para criar a forma desejada usando ferramentas de corte. Essa remoção de material é realizada através do uso de ferramentas de corte, abrasão ou erosão. A usinagem é essencial na produção de peças precisas e complexas para uma variedade de indústrias, incluindo automotiva, aeroespacial, médica, e de construção.</p>
        </div>
    </div>

    <main role="main" class="container mt-4 text-justify">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">Conceitos de Usinagem</h2>
                    <p class="blog-post-meta">01 Janeiro de 2024</p>

                    <p>Conceitos de Usinagem é ...</p>

                    <hr>

                    <p>Sabemos que Usinagem é o processo de remoção de material de uma peça para criar a forma desejada usando ferramentas de corte. Mas você conhece a história? A usinagem tem suas raízes na antiguidade, os primeiros relatos do processo de usinagem datam o ano de 700 antes de Cristo, em que o homem já buscava moldar materiais brutos, principalmente os feitos de ferro. No entanto, a usinagem moderna começou a se desenvolver durante a Revolução Industrial, no final do século XVIII e início do século XIX. Durante esse período, foram introduzidas máquinas-ferramentas que podiam ser operadas por força mecânica, como tornos, fresadoras e plainas. Uma das grandes mudanças na Usinagem veio em 1978, com a chega dos tornos CNC (Comandos Numéricos Computadorizados). O uso de um painel permite que vários movimentos sejam programados e armazenados permitindo a rápida troca de programa.</p>

                    <h5>Principais Máquinarios da Usinagem</h5>

                    <p>Em uma oficina de usinagem, podem ser encontradas diversas máquinas operatrizes, como serras de fita, furadeiras e retíficas planas. No entanto, os equipamentos mais comuns são:</p>

                    <h5>Tornos</h5>

                    <p>O torno é uma máquina que gira a peça para realizar operações de corte com ferramentas estacionárias. Suas funções principais incluem cortar, desbastar, tornear, furar, roscar, mandrilar, entre outras.</p>

                    <h5>Fresadoras</h5>

                    <p>A fresadora é uma máquina que utiliza uma ferramenta rotativa para remover material. É uma máquina extremamente versátil usada para realizar uma variedade de operações de usinagem, como fresagem, perfuração, mandrilhamento e corte de engrenagens.</p>

                </div>

                <nav class="blog-pagination">
                    <a href="../../Docs/Conceitos Usinagem.pdf" download="Conceitos_Usinagem.pdf" target="_blank"
                        rel="noopener noreferrer" type="button"
                        class="btn btn-primary liveToastBtn download-btn">Download</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Avaliação</a>
                </nav>

            </div>

            <aside class="col-md-4 blog-sidebar">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 img-card">
                    <img class="card-img w-100" src="../../img/informativos/conceitos.png" alt="Card image">
                </div>
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Sobre</h4>
                    <p class="mb-0">Conheça a Usinagem e seus conceitos!</p>
                </div>
            </aside>
        </div>
    </main>

    <div class="container mt-5 container-certificado">
        <div class="jumbotron p-3 p-md-5 text-white rounded container-certificado-color">
            <div class="col-md-8 px-0 ">
                <h1 class="display-4 font-italic"><strong>Obtenha um certificado profissional</strong></h1>
                <p class="lead my-3 text-justify">Adicione esta credencial ao seu perfil ou currículo no LinkedIn <br> Compartilhe nas redes sociais e na sua avaliação de desempenho</p>
            </div>
            <img src="../../img/certificados/certificado-azul.png" class="certificado-image" alt="Right aligned image">
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text">Perguntas Frequentes</h2>
        <div class="accordion mt-2" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        O que é Usinagem? 
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Usinagem é o processo de remoção de material de uma peça para criar a forma desejada usando ferramentas de corte. 
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        O que é o Cone Morse? 
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        O Cone Morse é um padrão de conexão utilizado amplamente pela indústria. Ele não possui rosca, mas sim um encaixe cônico, e é aplicado em máquinas e ferramentas para garantir uma fixação precisa e segura de ferramentas e acessórios.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Onde se utiliza a Ponta Rotativa em um Torno?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A ponta rotativa é uma ferramenta utilizada em tornos mecânicos para suportar o trabalho de peças longas ou pesadas que estão sendo usinadas. Ela é fixada no contra ponto do torno e gira junto com a peça, reduzindo o atrito e prevenindo danos na peça e na máquina. Seu uso é fundamental para manter a precisão e estabilidade durante o processo de usinagem, especialmente em operações de torneamento que envolvem peças de comprimento significativo.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Quais são as Ferramentas que compõem um torno mecânico?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Em um torno mecânico, é possível oferecer uma variedade de ferramentas, como insertos de pastilha, mandris com chave, brocas paralelas, brocas de centro, machos manuais, cossinetes, ferramentas soldadas, bits quadrados, bedame, suportes intercambiáveis, pente de rosca, ponta rotativa, paquímetro, relógio comparador, base magnética e óleo solúvel.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Quais são as Ferramentas que compõem uma Fresadora Ferramenteira?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Em uma fresadora ferramenteira, é possível oferecer uma variedade de ferramentas e acessórios, como fresas de topo reto e esféricas, fresas rabo de andorinha, fresas woodruff, porta-fresas, insertos de pastilha, cabeçotes de fresamento e cabeçotes angulares. Além disso, são úteis morsas mecânicas, mesas divisoras, divisores semi-universal e universal, jogos de presilhas, flexíveis, relógios apalpadores e base magnética.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Quais são as áreas de aplicação da Usinagem?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A usinagem é um segmento presente em praticamente todos os setores, o que traz grandes benefícios para quem atua nesse ramo, especialmente pela alta demanda contínua na área de manutenção. Entre os setores mais conhecidos que possuem áreas de manutenção e usinagem estão: usinas de açúcar e álcool, agronegócio, usinas de petróleo e gás, indústria química, indústria aeroespacial, indústria de mineração, indústria frigorífica, indústria automotiva, manutenção, metalurgia e construção civil.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="blog-footer text-center mt-4">
        <p class="text-center text-muted">&copy; 2024 <a href="https://www.pivetaferramentas.com.br/" target="_blank">Piveta Ferramentas</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>

<script src="../../index.js"></script>

</html>